<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodcoach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodCoach">

        <activity android:name=".MainActivity6"></activity>
        <activity android:name=".MainActivity5" />
        <activity android:name=".MainActivity4" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Interface1" />


        <activity
            android:name=".Select_mealplan"
            android:exported="true" />
        <activity
            android:name=".View_meal"
            android:exported="true" />
        <activity
            android:name=".Meal_plan"
            android:exported="true" />
        <activity
            android:name=".Add_meal"
            android:exported="true" />
        <activity
            android:name=".Select_age"
            android:exported="true" />
        <activity
            android:name=".Select_gender"
            android:exported="true" />
        <activity
            android:name=".Profile_page"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>